# Capstone Final Project

This project will be looking at the city of LA and Data about it to find something interesting

In [3]:
import pandas as pd
import numpy as np
import math
import re

In [4]:
# The code was removed by Watson Studio for sharing.

In [5]:
body = client_d8120f4c44654c8492bb144395d3c2f2.get_object(Bucket='applieddatasciencecapstoneibmcour-donotdelete-pr-tokjk722xvsf4y',Key='Census_Data_by_Neighborhood_Council.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_la_census = pd.read_csv(body)
df_la_census.head()

,NC_Name,Total Population,White_pop,Black_pop,Ameri_es_pop,Asian_pop,Hawn_pi_pop,Hispanic_pop,Other_pop,Multi_pop,In_Poverty,Owner_occ,Renter_occ
0,ARLETA NC,34932.84,2882.67,409.67,67.64,4061.31,34.96,NaN,37.58,245.05,34700.56,5590.27,2159.94
1,ARROYO SECO NC,21711.47,4640.35,782.76,89.51,3215.37,25.38,NaN,66.98,263.12,21582.85,4138.14,3235.61
2,ATWATER VILLAGE NC,11385.40,3450.70,127.80,0.15,2379.08,71.85,NaN,0.37,252.76,11345.53,1877.30,2902.89
3,BEL AIR-BEVERLY CREST NC,26789.14,22024.61,349.63,0.02,1787.79,0.01,NaN,156.92,946.28,26623.97,8939.21,1943.18
4,BOYLE HEIGHTS NC,81900.56,1562.20,640.97,63.63,2266.59,73.99,NaN,90.30,98.50,81144.31,4743.28,16001.77

In [6]:
df_la_census['NC_Name'].unique()

array(['ARLETA NC', 'ARROYO SECO NC', 'ATWATER VILLAGE NC',
       'BEL AIR-BEVERLY CREST NC', 'BOYLE HEIGHTS NC', 'CANOGA PARK NC',
       'CENTRAL ALAMEDA NC', 'CENTRAL HOLLYWOOD NC',
       'CENTRAL SAN PEDRO NC', 'CHATSWORTH NC', 'COASTAL SAN PEDRO NC',
       'COMMUNITY AND NEIGHBORS FOR NINTH DISTRICT UNITY (CANNDU)',
       'DEL REY NC', 'DOWNTOWN LOS ANGELES', 'EAGLE ROCK NC',
       'EAST HOLLYWOOD NC', 'ELYSIAN VALLEY RIVERSIDE NC',
       'EMPOWERMENT CONGRESS CENTRAL AREA NDC',
       'EMPOWERMENT CONGRESS NORTH AREA NDC',
       'EMPOWERMENT CONGRESS SOUTHEAST AREA NDC',
       'EMPOWERMENT CONGRESS SOUTHWEST AREA NDC',
       'EMPOWERMENT CONGRESS WEST AREA NDC', 'ENCINO NC',
       'FOOTHILL TRAILS DISTRICT NC', 'GLASSELL PARK NC',
       'GRANADA HILLS NORTH NC', 'GRANADA HILLS SOUTH NC',
       'GREATER CYPRESS PARK NC', 'GREATER ECHO PARK ELYSIAN NC',
       'GREATER TOLUCA LAKE NC', 'GREATER VALLEY GLEN COUNCIL',
       'GREATER WILSHIRE NC', 'HARBOR CITY NC', 'HARBOR GATEWAY NORTH NC',
       'HARBOR GATEWAY SOUTH NC', 'HERMON NC', 'HISTORIC CULTURAL NC',
       'HISTORIC HIGHLAND PARK NC', 'HOLLYWOOD HILLS WEST NC',
       'HOLLYWOOD STUDIO DISTRICT NC', 'HOLLYWOOD UNITED NC', 'LA-32 NC',
       'LAKE BALBOA NC', 'LINCOLN HEIGHTS NC', 'LOS FELIZ NC',
       'MACARTHUR PARK NC', 'MAR VISTA CC', 'MID CITY NC',
       'MID CITY WEST CC', 'MID-TOWN NORTH HOLLYWOOD NC',
       'MISSION HILLS NC', 'NC VALLEY VILLAGE', 'NC WESTCHESTER/PLAYA',
       'NOHO WEST NC', 'NORTH HILLS EAST', 'NORTH HILLS WEST NC',
       'NORTH HOLLYWOOD NORTHEAST NC', 'NORTHRIDGE EAST',
       'NORTHRIDGE SOUTH NC', 'NORTHRIDGE WEST', 'NORTHWEST SAN PEDRO NC',
       'OLYMPIC PARK NC', 'P.I.C.O. NC', 'PACOIMA NC', 'PALMS NC',
       'PANORAMA CITY NC', 'PARK MESA HEIGHTS CC', 'PICO UNION NC',
       'PORTER RANCH NC', 'RAMPART VILLAGE NC', 'RESEDA NC',
       'SHERMAN OAKS NC', 'SILVER LAKE NC', 'SOUTH CENTRAL NC',
       'SOUTH ROBERTSON NC', 'STUDIO CITY NC', 'SUN VALLEY AREA NC',
       'SUNLAND-TUJUNGA NC', 'SYLMAR NC', 'TARZANA NC',
       'UNITED NEIGHBORHOODS OF THE HISTORIC ARLINGTON HEIGHTS, WEST ADAMS, AND JEFFERSON PARK COMMUNITY',
       'VAN NUYS NC', 'VENICE NC', 'VOICES OF 90037', 'WATTS NC',
       'WEST ADAMS NC', 'WEST HILLS NC', 'WEST LOS ANGELES NC',
       'WESTLAKE NORTH NC', 'WESTLAKE SOUTH NC', 'WESTSIDE NC',
       'WESTWOOD NC', 'WILMINGTON NC', 'WILSHIRE CENTER - KOREATOWN NC',
       'WINNETKA NC', 'WOODLAND HILLS-WARNER CENTER NC', 'ZAPATA KING NC'],
      dtype=object)

In [7]:

body = client_d8120f4c44654c8492bb144395d3c2f2.get_object(Bucket='applieddatasciencecapstoneibmcour-donotdelete-pr-tokjk722xvsf4y',Key='la_neighborhoods.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_la_neigh = pd.read_csv(body)
df_la_neigh.head()

,set,slug,the_geom,kind,external_i,name,display_na,sqmi,type,name_1,slug_1,latitude,longitude,location
0,L.A. County Neighborhoods (Current),acton,MULTIPOLYGON (((-118.20261747920541 34.5389897...,L.A. County Neighborhood (Current),acton,Acton,Acton L.A. County Neighborhood (Current),39.339109,unincorporated-area,NaN,NaN,-118.169810,34.497355,POINT(34.497355239240846 -118.16981019229348)
1,L.A. County Neighborhoods (Current),adams-normandie,MULTIPOLYGON (((-118.30900800000012 34.0374109...,L.A. County Neighborhood (Current),adams-normandie,Adams-Normandie,Adams-Normandie L.A. County Neighborhood (Curr...,0.805350,segment-of-a-city,NaN,NaN,-118.300208,34.031461,POINT(34.031461499124156 -118.30020800000011)
2,L.A. County Neighborhoods (Current),agoura-hills,MULTIPOLYGON (((-118.76192500000009 34.1682029...,L.A. County Neighborhood (Current),agoura-hills,Agoura Hills,Agoura Hills L.A. County Neighborhood (Current),8.146760,standalone-city,NaN,NaN,-118.759885,34.146736,POINT(34.146736499122795 -118.75988450000015)
3,L.A. County Neighborhoods (Current),agua-dulce,MULTIPOLYGON (((-118.2546773959221 34.55830403...,L.A. County Neighborhood (Current),agua-dulce,Agua Dulce,Agua Dulce L.A. County Neighborhood (Current),31.462632,unincorporated-area,NaN,NaN,-118.317104,34.504927,POINT(34.504926999796837 -118.3171036690717)
4,L.A. County Neighborhoods (Current),alhambra,MULTIPOLYGON (((-118.12174700000014 34.1050399...,L.A. County Neighborhood (Current),alhambra,Alhambra,Alhambra L.A. County Neighborhood (Current),7.623814,standalone-city,NaN,NaN,-118.136512,34.085539,POINT(34.085538999123571 -118.13651200000021)

In [8]:
df_la_neigh['name'].unique()

array(['Acton', 'Adams-Normandie', 'Agoura Hills', 'Agua Dulce',
       'Alhambra', 'Alondra Park', 'Artesia', 'Altadena', 'Angeles Crest',
       'Arcadia', 'Arleta', 'Arlington Heights', 'Athens',
       'Atwater Village', 'Avalon', 'Avocado Heights', 'Azusa',
       'Vermont-Slauson', 'Baldwin Hills/Crenshaw', 'Baldwin Park',
       'Bel-Air', 'Bellflower', 'Bell Gardens', 'Green Valley', 'Bell',
       'Beverly Crest', 'Beverly Grove', 'Burbank', 'Koreatown',
       'Beverly Hills', 'Beverlywood', 'Boyle Heights', 'Bradbury',
       'Brentwood', 'Broadway-Manchester', 'Calabasas', 'Canoga Park',
       'Carson', 'Carthay', 'Castaic Canyons', 'Chatsworth', 'Castaic',
       'Central-Alameda', 'Century City', 'Cerritos', 'Charter Oak',
       'Chatsworth Reservoir', 'Chesterfield Square', 'Cheviot Hills',
       'Chinatown', 'Citrus', 'Claremont', 'Northridge', 'Commerce',
       'Compton', 'Cypress Park', 'La Mirada', 'Covina', 'Cudahy',
       'Culver City', 'Del Aire', 'Del Rey', 'Desert View Highlands',
       'Diamond Bar', 'Downey', 'Downtown', 'Duarte', 'Eagle Rock',
       'East Compton', 'East Hollywood', 'East La Mirada',
       'Elizabeth Lake', 'East Los Angeles', 'East Pasadena',
       'East San Gabriel', 'Echo Park', 'El Monte', 'El Segundo',
       'El Sereno', 'Elysian Park', 'Elysian Valley', 'Vermont Square',
       'Encino', 'Exposition Park', 'Fairfax', 'Florence-Firestone',
       'Florence', 'Gardena', 'Glassell Park', 'Green Meadows',
       'Vermont Vista', 'Glendale', 'Glendora', 'Gramercy Park',
       'Granada Hills', 'Griffith Park', 'Hacienda Heights',
       'Hancock Park', 'Hansen Dam', 'Harbor City', 'Harbor Gateway',
       'Harvard Heights', 'Harvard Park', 'Walnut Park', 'Hasley Canyon',
       'Hawaiian Gardens', 'Hawthorne', 'Hermosa Beach', 'Hidden Hills',
       'Mar Vista', 'Highland Park', 'Historic South-Central',
       'Hollywood Hills', 'Hollywood Hills West', 'Hollywood',
       'Huntington Park', 'Hyde Park', 'Inglewood', 'Irwindale',
       'Jefferson Park', 'Industry', 'La Canada Flintridge',
       'La Crescenta-Montrose', 'Ladera Heights', 'Playa Vista',
       'La Habra Heights', 'Lake Balboa', 'Lake Hughes',
       'Lake Los Angeles', 'Lake View Terrace', 'Lakewood', 'Lancaster',
       'La Puente', 'Larchmont', 'Watts', 'La Verne', 'Lawndale',
       'Leimert Park', 'Lennox', 'Leona Valley', 'Lincoln Heights',
       'Littlerock', 'Lomita', 'Long Beach', 'Lopez/Kagel Canyons',
       'Los Feliz', 'Lynwood', 'Malibu', 'Manchester Square',
       'Manhattan Beach', 'Marina del Rey', 'Mayflower Village',
       'Maywood', 'Mid-City', 'Mid-Wilshire', 'Mission Hills',
       'Monterey Park', 'West Adams', 'Monrovia', 'Montebello',
       'Montecito Heights', 'Mount Washington',
       'Northeast Antelope Valley', 'North El Monte', 'North Hills',
       'North Hollywood', 'Northwest Antelope Valley',
       'Northwest Palmdale', 'North Whittier', 'Norwalk',
       'Pacific Palisades', 'Pacoima', 'Palos Verdes Estates',
       'Panorama City', 'Palmdale', 'Palms', 'West Carson', 'Paramount',
       'Pico Rivera', 'Pico-Robertson', 'Pico-Union', 'Playa del Rey',
       'Pasadena', 'Pomona', 'Porter Ranch', 'Quartz Hill',
       'Redondo Beach', 'Ramona', 'Rancho Dominguez', 'Reseda',
       'Rolling Hills Estates', 'Rancho Palos Verdes', 'Rancho Park',
       'Ridge Route', 'Rolling Hills', 'Rosemead', 'Rowland Heights',
       'Santa Fe Springs', 'San Dimas', 'San Fernando', 'Santa Monica',
       'Sawtelle', 'San Gabriel', 'San Marino', 'San Pasqual',
       'Sepulveda Basin', 'San Pedro', 'Sun Village', 'Santa Clarita',
       'Shadow Hills', 'Sherman Oaks', 'Sierra Madre', 'Signal Hill',
       'Silver Lake', 'South Diamond Bar', 'Southeast Antelope Valley',
       'South El Monte', 'South Gate', 'South Park', 'South Pasadena',
       'South San Gabriel', 'South San Jose Hills', 'South Whittier',
       'Sylmar', 'Stevenson Ranch', 'Studio City', 'Sunland',
       'Sun Valley', 'Tarzana', 'Temple City', 'Toluca Lake', 'Topanga',
       'Universal City', 'Torrance', 'Tujunga Canyons', 'Tujunga',
       'Unincorporated Catalina Island', 'University Park', 'Valinda',
       'Valley Glen', 'Valley Village',
       'Unincorporated Santa Monica Mountains', 'Val Verde', 'Van Nuys',
       'Venice', 'Unincorporated Santa Susana Mountains',
       'Vermont Knolls', 'Vernon', 'Veterans Administration',
       'View Park-Windsor Hills', 'Vincent', 'Walnut', 'Westchester',
       'West Compton', 'West Covina', 'West Hills', 'West Hollywood',
       'Westlake', 'Westlake Village', 'West Los Angeles', 'Westmont',
       'West Puente Valley', 'West San Dimas', 'West Whittier-Los Nietos',
       'Westwood', 'Whittier', 'Whittier Narrows', 'Willowbrook',
       'Wilmington', 'Windsor Square', 'Winnetka', 'Woodland Hills'],
      dtype=object)

In [9]:
la_neigh_col_list = ['name', 'sqmi', 'type', 'latitude', 'longitude', 'the_geom', 'location']
df_la_neigh = df_la_neigh[la_neigh_col_list]
df_la_neigh.head()

,name,sqmi,type,latitude,longitude,the_geom,location
0,Acton,39.339109,unincorporated-area,-118.169810,34.497355,MULTIPOLYGON (((-118.20261747920541 34.5389897...,POINT(34.497355239240846 -118.16981019229348)
1,Adams-Normandie,0.805350,segment-of-a-city,-118.300208,34.031461,MULTIPOLYGON (((-118.30900800000012 34.0374109...,POINT(34.031461499124156 -118.30020800000011)
2,Agoura Hills,8.146760,standalone-city,-118.759885,34.146736,MULTIPOLYGON (((-118.76192500000009 34.1682029...,POINT(34.146736499122795 -118.75988450000015)
3,Agua Dulce,31.462632,unincorporated-area,-118.317104,34.504927,MULTIPOLYGON (((-118.2546773959221 34.55830403...,POINT(34.504926999796837 -118.3171036690717)
4,Alhambra,7.623814,standalone-city,-118.136512,34.085539,MULTIPOLYGON (((-118.12174700000014 34.1050399...,POINT(34.085538999123571 -118.13651200000021)

In [10]:
df_la_neigh['type'].unique()

array(['unincorporated-area', 'segment-of-a-city', 'standalone-city'],
      dtype=object)

In [16]:
df_neigh_loc = df_la_neigh.loc[:, ['name', 'latitude', 'longitude']]
df_neigh_loc['Location'] = df_neigh_loc.apply(lambda x: str((x['longitude'], x['latitude'])), axis=1)
print(type(df_neigh_loc['Location'][0]))
df_neigh_loc = df_neigh_loc[['name', 'Location']]
# df_neigh_loc.sort_values(by='Location')
df_neigh_loc

<class 'str'>

,name,Location
0,Acton,"(34.497355239240854, -118.1698101922935)"
1,Adams-Normandie,"(34.03146149912416, -118.30020800000014)"
2,Agoura Hills,"(34.146736499122795, -118.75988450000015)"
3,Agua Dulce,"(34.50492699979684, -118.31710366907171)"
4,Alhambra,"(34.08553899912357, -118.13651200000021)"
5,Alondra Park,"(33.889617004889644, -118.3351559860816)"
6,Artesia,"(33.866895999126264, -118.08010100000016)"
7,Altadena,"(34.19387050223217, -118.13623898201557)"
8,Angeles Crest,"(34.31393700589531, -117.9223952817848)"
9,Arcadia,"(34.13322999912302, -118.03041899311201)"
10,Arleta,"(34.24309999912158, -118.4307575)"
11,Arlington Heights,"(34.04491049912405, -118.3234085)"
12,Athens,"(33.9236925059352, -118.30465647554277)"
13,Atwater Village,"(34.13106635675918, -118.26237347966236)"
14,Avalon,"(33.33695449913309, -118.32733223477571)"
15,Avocado Heights,"(34.040881003821966, -118.0012614768012)"
16,Azusa,"(34.13746999912302, -117.9124685)"
17,Vermont-Slauson,"(33.98391399912471, -118.29035750000013)"
18,Baldwin Hills/Crenshaw,"(34.01197027055953, -118.35774600000003)"
19,Baldwin Park,"(34.08110949912369, -117.97519050000021)"
20,Bel-Air,"(34.10205699912334, -118.45841550000007)"
21,Bellflower,"(33.88801349912606, -118.12903150000015)"
22,Bell Gardens,"(33.965685999125014, -118.14993600000021)"
23,Green Valley,"(34.62000745749515, -118.41421658346756)"
24,Bell,"(33.98116099912489, -118.1791660000002)"
25,Beverly Crest,"(34.106006999123245, -118.423263)"
26,Beverly Grove,"(34.07663299912361, -118.376102)"
27,Burbank,"(34.18201049912244, -118.32521100000015)"
28,Koreatown,"(34.06451049912376, -118.3049585)"
29,Beverly Hills,"(34.0825444991237, -118.39953400000016)"
...,...,...
242,Val Verde,"(34.44560168460962, -118.66565388049709)"
243,Van Nuys,"(34.196505499122246, -118.46395449999999)"
244,Venice,"(33.986273217151734, -118.46284569710345)"
245,Unincorporated Santa Susana Mountains,"(34.36184388657193, -118.6168004757234)"
246,Vermont Knolls,"(33.967009999125, -118.29050700000013)"
247,Vernon,"(33.999657999124715, -118.20343200000013)"
248,Veterans Administration,"(34.057383999123985, -118.45725850000031)"
249,View Park-Windsor Hills,"(33.99564600304306, -118.34855947912705)"
250,Vincent,"(34.09951050296921, -117.92479398575192)"
251,Walnut,"(34.03324799912426, -117.86012600000015)"
252,Westchester,"(33.95599525987285, -118.39829259016352)"
253,West Compton,"(33.89413650249923, -118.26773698606381)"
254,West Covina,"(34.047182499124105, -117.91269950000022)"
255,West Hills,"(34.207253636931036, -118.63539850000005)"
256,West Hollywood,"(34.08721323709856, -118.36961300000021)"
257,Westlake,"(34.062360999123754, -118.27222100000006)"
258,Westlake Village,"(34.13919149912303, -118.82291200000013)"
259,West Los Angeles,"(34.047220499123924, -118.4307445)"
260,Westmont,"(33.94520750243695, -118.30463897559736)"
261,West Puente Valley,"(34.049860493908575, -117.96992450000026)"
262,West San Dimas,"(34.08743165988433, -117.83509899236437)"
263,West Whittier-Los Nietos,"(33.98055999993961, -118.07001998587738)"
264,Westwood,"(34.06523499912381, -118.44047994677246)"
265,Whittier,"(33.979441000624014, -118.01891099569201)"
266,Whittier Narrows,"(34.03707410984437, -118.06118827749373)"
267,Willowbrook,"(33.915710503828585, -118.25231247908228)"
268,Wilmington,"(33.79129350128175, -118.25918700000008)"
269,Windsor Square,"(34.06910849912372, -118.31990900000004)"
270,Winnetka,"(34.21045949912199, -118.57521950000013)"
271,Woodland Hills,"(34.159408692550485, -118.61521650000006)"

In [12]:
def locStr_to_tuple(loc_str):
    return tuple(map(float, list(filter(None, re.split('[; \(\), ]', loc_str)))))

In [13]:
test_loc = '(34.497355239240854, -118.1698101922935)'
locStr_to_tuple(test_loc)

(34.497355239240854, -118.1698101922935)

In [24]:

body = client_d8120f4c44654c8492bb144395d3c2f2.get_object(Bucket='applieddatasciencecapstoneibmcour-donotdelete-pr-tokjk722xvsf4y',Key='Rent_Price__LA_.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_la_rent = pd.read_csv(body)
print(df_la_rent.shape)
df_la_rent = df_la_rent[df_la_rent['Year'] == 2016]
print(df_la_rent.shape)
df_la_rent.head()

(16390, 12)
(2344, 12)

,Policy Area,Dataset,Variable,Year,Amount,Tract,Tract Number,Neighborhood,GEOID,Location,Row ID,Date
30,Housing & Real Estate,Rent Price,Median Rent Price,2016,1861.0,"Census Tract 5038.01, Los Angeles County, Cali...",503801,La Mirada,1400000US06037503801,"(33.899102856233, -117.9936485)",Median_Rent_Price_2016_1400000US06037503801,01/01/2016
31,Housing & Real Estate,Rent Price,Median Rent Price,2016,1224.0,"Census Tract 5739.02, Los Angeles County, Cali...",573902,Long Beach,1400000US06037573902,"(33.8119735, -118.078652493167)",Median_Rent_Price_2016_1400000US06037573902,01/01/2016
32,Housing & Real Estate,Rent Price,Median Rent Price,2016,1209.0,"Census Tract 5766.02, Los Angeles County, Cali...",576602,Long Beach,1400000US06037576602,"(33.765980150191, -118.170779302632)",Median_Rent_Price_2016_1400000US06037576602,01/01/2016
33,Housing & Real Estate,Rent Price,Median Rent Price,2016,NaN,"Census Tract 9903, Los Angeles County, California",990300,Long Beach,1400000US06037990300,"(33.723119408975, -118.203400497254)",Median_Rent_Price_2016_1400000US06037990300,01/01/2016
2125,Housing & Real Estate,Rent Price,Median Rent Price,2016,NaN,"Census Tract 9800.02, Los Angeles County, Cali...",980002,Carson,1400000US06037980002,"(33.809244, -118.241188)",Median_Rent_Price_2016_1400000US06037980002,01/01/2016

In [36]:
# get a set of the neighbourhood names in both data sets

set_all_rent_neigh = set(np.sort(df_la_rent['Neighborhood'].unique()))
set_all_neigh = set(df_la_neigh['name'].unique())

inter_neigh = set_all_neigh.intersection(set_all_rent_neigh)

print('All neighs in LA contains ' + str(len(set_all_neigh)) + ' values and rent neighs in LA contains ' + str(len(set_all_rent_neigh)) + ' values.')
print('Amount that intersect are ' + str(len(inter_neigh)) + ' values')

if len(set_all_rent_neigh) == len(inter_neigh):
    print( )

All neighs in LA contains 272 values and rent neighs in LA contains 262 values.
Amount that intersect are 262 values

In [15]:
this stops # the rest from running when running all

SyntaxError: invalid syntax (<ipython-input-15-61f0657a0f95>, line 1)

In [ ]:
# age distribution data
body = client_d8120f4c44654c8492bb144395d3c2f2.get_object(Bucket='applieddatasciencecapstoneibmcour-donotdelete-pr-tokjk722xvsf4y',Key='Age_Distribution__CV_.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_la_age = pd.read_csv(body)
df_la_age.head()

In [ ]:
print(df_la_age.dtypes)

print(df_la_age['Variable'].unique())

#print(df_la_age['Policy Area'].unique())
#print(df_la_age['Dataset'].unique())

print(df_la_age['Year'].unique())
#print(df_la_age['Tract'].unique())
#print(df_la_age['Tract Number'].unique())

#print(df_la_age['Denominator Description'].unique())

df_la_age.shape

In [ ]:
print(df_la_age['Variable'].unique())
df_la_age['Variable'].replace(regex=True,inplace=True,to_replace=r'Population ',value=r'')
#df_la_age['Variable'] = df_la_age['Variable'].replace(regex=True,inplace=True,to_replace=r'Population Ages ',value=r'')
print(df_la_age['Variable'].unique())

df_la_age.rename(index=str, columns={'Variable':'Age Demographic', 'Denominator':'Total Population'}, inplace=True)
print(df_la_age.dtypes)
df_la_age.head()

In [ ]:
list_age_col = ['Age Demographic', 'Year', 'Count', 'Percent', 'Location', 'Total Population']

In [ ]:
# get only the most recent data
df_la_age_17 = df_la_age[df_la_age['Year'] == 2017][list_age_col]
df_la_age_12 = df_la_age[df_la_age['Year'] == 2012][list_age_col]
print(df_la_age_17.shape)
print(df_la_age_12.shape)
df_la_age_17.head()

In [ ]:
df_la_age_17.sort_values(by='Location').head(10)

In [ ]:
print(type(df_la_age_17['Location'][0]))

In [ ]:
print(df_la_age_17.groupby(['Location']).count()['Year'].count())  #Amount of different locations where age was determined
df_la_age_17.groupby(['Location']).count()['Year'].unique() #check that all locations contain the 7 rows for the 7 age groups, not more, not less

In [ ]:
def euclidean_dist(point_1, point_2):
    """
    Calculates the euclidean distance between two points.
    
    Points have to be iterable of at least length 1 (aka lists, tuples, etc) as well as 
    having the same dimensionality
    
    Returns -1 with incorrect parameters while printing error information. Else returns euclidean distance
    
    """
    
    try:
        d_len = len(point_1)
        d_len2 = len(point_2)
    except:
        print("Error: Invalid point format")
        return -1
    
    if (d_len < 1 or  d_len != d_len2):
        print("Error: Unequal point dimensionality")
        return -1
    
    e_dist = 0
    
    for i in range(d_len):
        e_dist += (point_1[i] - point_2[i])**2
        
    return math.sqrt(e_dist)

In [ ]:
from math import sin, cos, sqrt, atan2, radians

def haversine_dist(point_1, point_2):
                   
    try:
        d_len = len(point_1)
        d_len2 = len(point_2)
    except:
        print("Error: Invalid point format")
        return -1
    
    if (d_len < 1 or  d_len != d_len2):
        print("Error: Unequal point dimensionality")
        return -1
    
    h_dist = 0

    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(point_1[0])
    lon1 = radians(point_1[1])
    lat2 = radians(point_2[0])
    lon2 = radians(point_2[1])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    h_dist = R * c
                   
    return h_dist

In [ ]:
pointA = [1,3]
pointB = [1,2]
euclidean_dist(pointA, pointB)

In [ ]:
def str_e_dist(str_point, point):
    euclidean_dist(locStr_to_tuple(str_point), point)

In [ ]:
def get_closest_neigh(point):
    
    if type(point) is not tuple and type(point) is not list:
        return -1
    
    if len(point) != 2:
        return -2
    
    lab_e = 'e dist (km)'
    
    df_temp_e_dist = df_neigh_loc.loc[:]
    df_temp_e_dist['e loc'] = df_temp_e_dist['Location'].apply(lambda x: locStr_to_tuple(x) )
    df_temp_e_dist[lab_e] = df_temp_e_dist['Location'].apply(lambda x: haversine_dist(locStr_to_tuple(x), point) )
    
    # locStr_to_tuple()
    df_temp_e_dist.sort_values(by=lab_e, inplace=True, na_position='first')

    return df_temp_e_dist#.head(1)['name'].iloc[0]

    
# both columns are in string format
# df_temp_e_dist.head()

In [ ]:
point_test = (33.70182, -116.1821779)
print(type(point_test))
print(len(point_test))
df_test = get_closest_neigh(point_test)
df_test

In [ ]:
print(type( [33.6936573, -116.2807908]))

In [ ]:
df_all_loc = pd.DataFrame(data=df_la_age_17['Location'].unique() , columns=['Location'])
print(df_all_loc.shape)
print(type(df_all_loc.iloc[0, 0]))
# Location is type string

df_all_loc['Neighbourhood'] = df_all_loc['Location'].apply(lambda x: get_closest_neigh(locStr_to_tuple(x)) )
df_all_loc


# FIGURE OUT DATA???????????????